*{ 
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Mulish', sans-serif;
}
main{
    max-width:1620px ;
    padding: 0 150px ;
}
header{
    max-width:1620px;
   padding-top: 60px;
   padding-bottom:100px;
   padding-left:150px;
   padding-right: 150px;
}
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-bottom: 50px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    width:40px;
}
.logo h1{
    color: #131318;
font-size: 30px;
font-weight: 800;
}
span{
    color: #FF5400;
}
nav > ul{
   display: flex;
   justify-content: space-around;
   gap: 30px;
}
nav li{
 list-style: none;
text-transform: capitalize;
}
nav ul li a{
    color: #424247;
    font-size: 16px;
    font-weight: 600;
}
nav ul li a:hover{
    color: #FF5400;
}
nav ul li a.active{
    color: #FF5400;
}
/* banner part */
.banner{
    height:500px;
    background-image: url(../images/Group\ 13\ \(1\)\ \(1\).png) ;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 8px;
    background-position: fixed;
}
.banner-content{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
    height: 500px;
    border-radius:8px;
}
.banner-title{
    padding:100px 0;
    
}
.banner-title h1{
    color: #FFF;
font-size: 64px;
font-weight: 800;
padding-bottom:24px;
}
.banner-title p{
    width: 600px;
    color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 20px;
margin: auto;
padding-bottom: 40px;
}
.form{
 display:inline-flex;
 flex: 1;
gap: 30px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
width: 700px;
margin: auto;
height: 100px;
align-items: center;
padding:  0 15px;

}
.form input,select,button{
width: 200px;
height: 52px;
border-radius: 8px;
border: none;
outline: 0;
padding-left: 10px;
text-transform: capitalize;
color: #59595c;
}
button {
text-align: center;
font-size: 16px;
font-weight: 500;
border-radius: 8px;
background: #FF5400;
border: none;
}
button a{
    color: #FFF;
}
button a i {
    padding-right:10px;
}
 /* our tour */
 .tour-section{
    padding-top:50px;
    padding-bottom: 100px;
 }
 .our-tour{
    display: flex;
    justify-content: space-between;
    gap: 100px ;
 }
 .left-content {
    width: 500px;
 }
.left-content h1{
    color: #131318;
font-size: 40px;
font-weight: 800;
padding-bottom: 24px;
}
.left-content p{
    color: rgba(19, 19, 24, 0.70);
font-size: 14px;
font-weight: 400;
line-height: 18px;
padding-bottom: 15px;
padding-top: 10px;
}
.left-content ul li{
    list-style: none;
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;  
    padding-left: 20px;
    padding: 5px 0;

}
.btn {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    }
.right-content img{
 width:100%;
height: 550px;
}
 /* destination style */
 .destination{
    padding-bottom: 100px;
 }
 .destination-title{
    text-align: center;
 }
 .destination-title h1{  
    color: #131318;
font-size: 35px;
font-weight: 800;
padding-bottom: 20px;
 }
 .destination-title p{
 color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
width: 600px;
margin: 0 auto;
padding-bottom: 30px;
 }
 .img-para{
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
padding-top: 120px;
 }
.part-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:24px
    
}
.img-1{
    border-radius: 16px;
   background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
 background-repeat: no-repeat;
    width: 50%;
    height: 300px;

}
.img-2{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 8.png), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 300px;
}
.part-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:24px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.img-3{
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
 height: 300px;
 width: 30%;
 background-size: cover;
 background-repeat: no-repeat;
}
.img-4{ 
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
background-repeat: no-repeat;
background-size: cover;
height: 300px;
width: 40%;
}
.img-5{
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
 height: 300px;
 background-repeat: no-repeat;
 background-size: cover;
 width: 30%;
}
.part-3{
    display: flex;
    justify-content: space-between;
  gap:24px;
}
.img-6{
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    height: 300px;
    width: 40%;
}
.img-7{
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 60%;
    height:300px ;
}
/* WHY choose part */
.choose-section{
    padding-bottom: 100px;
}
.choose-title{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.choose-title h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
.choose-title p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 20px;
}
.choose-content{
    display: grid;
    grid-template-columns:repeat( 2, 1fr);
    gap: 30px;
    padding-top: 48px;
}
.thirt-part{
    grid-column: span 2;
    margin: 0 auto;
}
.hotel img,.service img,.Price img{
    width: 60px;

}
.hotel h3,.service h3, .Price h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
 
}
.hotel p, .service p, .Price p{
    color: #5A5A5D;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px;
}
.choose-content .hotel{
    width: 500px;
    height: 280px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgb(251, 181, 99, 0.05);
padding-left: 32px;
padding-top: 50px;
}
.choose-content .service{
    width: 500px;
    height: 280px;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(124, 229, 255, 0.05);
padding-left: 32px;
padding-top: 50px;
}
.choose-content .Price{
  
    width: 500px;
    height: 280px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding-left: 32px;
padding-top: 50px;
}
/*deals and discount part */
.discount-section{
    padding-bottom: 100px;
}
.discount-title{
    width: 700px;
    text-align: center;
    margin: 0 auto;
}
.discount-title h1{
    color: #131318;
font-size: 40px;
font-weight: 800;
padding-bottom: 20px;

}
.discount-title p{
    color: rgba(19, 19, 24, 0.70);
font-size: 14px;
font-weight: 400;
line-height: 20px;
padding-bottom: 50px;
}
.card-1{
     margin:30px;
    background-image: url(../images/Group\ 39.png);
    height: 400px;
    border-radius: 16px;

}
.card-2{
    background-image: url(../images/Group\ 40.png);
    height: 400px;
    margin: 30px;
    border-radius: 16px;
}
.card-3{
    background-image: url(../images/Group\ 39.png);
    height: 400px;
    border-radius: 16px;

}
.card{
    border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
    width:  450px;
    height: 300px;
    padding-left: 30px;
}
.card-a,.card-c{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-b{
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.card h5{
    color: #131318;
font-size: 20px;
font-weight: 800;
padding-bottom: 10px;
}
.card p{
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 15px;
}
.card h6{
    color: #FF5400;
font-size: 20px;
font-weight: 800;
padding-bottom: 15px;
}

.date{
    display: flex;
    justify-content:space-between;
    padding-top: 30px;
}
.date i{
    color: #FF5400;
    padding-right: 5px;   
}
.date p{
    padding-right: 20px;
    color: #5A5A5D;
font-size: 13px;
font-weight: 400;
padding-bottom: 15px;
}
.packeges{
    padding-top: 50px;
    text-align: center;
   margin: 0 auto;  
}
.footer-section{
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    height: 400px; 
}
.footer-section{
    padding-top: 50px;
    font-size: 20px;
    font-weight: 700;
}
.footer-section p{
    width: 500px;
    color: #5A5A5D;
font-size: 13px;;
font-weight: 400;
line-height: 20px; 
padding:15px 0;
margin: 0 auto;
}
.footer-section img{
   width: 30px;
}
.social-icons a i{
 font-size: 30px;
 padding-right: 20px;
 padding-bottom: 50px;
color:#FF5400;
padding-top: 20px;
}
hr{ width: 700px;
    margin: 0 auto;
    color: #59595c;
    opacity: 0.2;
    height: 1px;
}





/* media break responsive */
@media screen and (max-width:576px){
    header,
    main,
    .banner-content,
    .banner-title,
    .tour-section,
    .our-tour,
    .destination,
    .choose-section,.choose-content,
    .discount-section,
    .card-section,
    .discount,
    .packeges
    footer
    {
        padding: 10px;
      }
      .banner{
        height: 700px;
      }
      nav,
      .form,
      .our-tour,
      .part-1,
      .part-2,
      .part-3
      {
        flex-direction: column;
      }
      .choose-content {
        grid-template-columns: 1fr;
      }
      .thirt-part{
        grid-column: span 1;
      }
      .choose-content{
        padding-top: 10px;
      }
      .choose-content .hotel,.choose-content .service, 
      .choose-content .Price{
        width: auto;
        height: 350px; 
      }
      .our-tour{
        gap:30px
      }
      .left-content,
      .right-content,hr,.footer-section p
      {
        width: auto;
      }
      .img-1,.img-2,.img-3,.img-4,.img-5,.img-6,.img-7{
        width: 350px;
        align-self: center;
        padding: 10px;
      }
      .destination-title,.destination-title p,
      .choose-title,.discount-title,.footer-section{
        text-align: center;
        width: auto;
     }
     .card-1, .card-2, .card-3{
        width: 335px;
        height: 500px; 
        padding: 10px;
     }
     .card-a,.card-b,.card-c{
         margin-bottom: 10px;
         margin-left: 10px;
         margin-right: 10px;
       margin-top: 180px;
     }
     .card{
        width: 303px;
       height: 300px;
      
     }
      .form{
        width: auto;
        height: auto;
        padding: 16px;
        gap:16px;
      }
    .banner-title,
    .banner-title p
    {
     text-align: center;
    text-align: center;
    width: auto; 
    }
}

@media screen and (min-width:576px) and (max-width:960px){
    header,
    main,
    .banner-title,
    .tour-section,
    .banner-title p{
        padding: 20px;
      } 
      .form {
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 16px;
        gap:20px
      }
      .our-tour
      {
        flex-direction: column;
      }
      .left-content{
        text-align: start;
      }
      .our-tour{
        gap:50px;
      }
      .left-content,.right-content
      {
        width: auto;
        height: auto;
      }
}